.breadcrumbs {
  margin-bottom: 20px;
  &__link {
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    transition: all .3s ease-in-out;
    &:hover {
      color: $accent;
    }
    &:last-child {
      font-weight: 500;
      font-size: 17px;
      line-height: 140%;
      color: $current-point;
      pointer-events: none;
    }
  }
}
