.btn {
  padding: 22px;
  font-size: 17px;
  line-height: 138.9%;
  text-align: center;
  letter-spacing: 0.02em;
  border: 1px solid $accent-interactive;
  transition: all .3s ease-in-out;
  color: $accent-interactive;
  &:hover {
    background-color: $accent-interactive;
    color: $light;
    box-shadow: 0 0 6px rgba($dark, 0.5);
  }
  &-fill {
    background-color: $accent-interactive;
    color: $light;
    &:hover {
      border-color: $accent;
      background-color: $accent;
    }
  }
}

