.catalog {
  padding: 60px 0;
  height: 100%;
  &__container {
    max-width: 1310px;
  }
  &__title {
    margin-bottom: 50px;
    text-align: center;
    grid-column: 2 / 3;
  }
  &__content {
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-column-gap: 35px;
    @media (max-width: $l) {
      display: block;;
    }
  }
  &__products {
    grid-column: 2 / 3;
  }
  &__filters-show {
   background: url(./assets/images/icons/filter.svg);
   height: 40px;
   width: 40px;
   align-self: center;
   //display: none;
   @media(max-width: $l) {
    display: block;
   }
  }

  &__controls {
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
    gap: 30px;
  }
  
  &__search {
    padding: 15px 20px;
    font-size: 18px;
    border: 1px solid $accent;
  }
  &__info {
    font-size: 22px;
    span {
      display: block;
      margin-top: -10px;
      margin-bottom: 16px;
    }
  }
}
.products {
  display: grid;
  grid-row-gap: 65px;
  grid-column-gap: 30px;
  margin-bottom: 60px;
  &#columns2 {
    grid-template-columns: repeat(2, 1fr);
  }
  &#columns3 {
    grid-template-columns: repeat(3, 1fr);
  }
  &#columns4 {
    grid-template-columns: repeat(4, 1fr);

    @media (max-width: $xl) {
      grid-template-columns: repeat(3, 1fr);
      grid-auto-flow: row;
    }

    .card__buttons {
      flex-wrap: wrap;
    }
  }
  .empty {
    grid-column: span 3;
    text-align: center;
    font-size: 46px;
  }
}
