.catalog {
  padding: 60px 0;
  height: 100%;
  &__container {
    max-width: 1310px;
  }
  &__title {
    margin-bottom: 50px;
    text-align: center;
    grid-column: span 2;
  }
  &__content {
    display: grid;
    grid-template-columns: 280px 1fr;
  }
  &__products {
    grid-column: 2 / 3;
  }
  &__controls {
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
  }
  &__search {
    padding: 15px 20px;
    font-size: 18px;
    border: 1px solid $accent;
  }
}
.products {
  display: grid;
  grid-row-gap: 65px;
  grid-column-gap: 30px;
  margin-bottom: 60px;
  &#columns2 {
    grid-template-columns: repeat(2, 1fr);
  }
  &#columns3 {
    grid-template-columns: repeat(3, 1fr);
  }
  &#columns4 {
    grid-template-columns: repeat(4, 1fr);
  }
  &__no-items {
    grid-column: span 3;
    text-align: center;
    font-size: 46px;
  }
}
