.catalog {
  padding: 60px 0;
  &__title {
    margin-bottom: 50px;
  }
  &__controls {
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
  }
  &__search {
    padding: 15px 20px;
    font-size: 18px;
    border: 1px solid $accent;
  }
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 65px;
  grid-column-gap: 30px;
}
