.details {
  padding: 20px 10px;
  &__content {
    flex: 0 0 50%;
  }

  &__container {
    display: flex;
    gap: 40px;
  }

  &__title {

  }

  &__desc {

  }

  &__price {

  }

  &__brand {
    
  }

  &__rate {

  }

  &__category {

  }

  &__slider {

  }
}