.details {
  padding: 20px 10px;
  &__content {
    flex: 0 0 50%;
  }

  &__container {
    display: flex;
    gap: 40px;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 10px;
  }

  &__desc {
    margin: 20px 0;
    font-style: italic;
  }

  &__price {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;


    &_full {
     text-decoration: line-through;
     color: $placeholders;
     font-size: 1.5rem;
    }

    &_final {
      font-size: 3rem;
      font-weight: 500;
      color: $accent-extra;
    }
  }

  &__brand {
    margin-bottom: 10px;
    span:first-child {
      color: $placeholders;
    }

    span:last-child {
      font-size: 1.5rem;
      padding-left: 5px;
    }
  }

  &__rate {
    margin-bottom: 10px;
    span:first-child {
      color: $placeholders;
    }
    span:last-child {
      font-size: 1.5rem;
      padding-left: 5px;
    }
  }

  &__category {
    margin-bottom: 10px;
    span:first-child {
      color: $placeholders;
    }
    span:last-child {
      font-size: 1.5rem;
      padding-left: 5px;
    }
  }

  &__discount {
    margin-bottom: 10px;
    span:first-child {
      color: $placeholders;
    }
    span:last-child {
      font-size: 1.5rem;
      padding-left: 5px;
    }
  }

  &__slider {

  }

  &__buy-info {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 30px auto 0;
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
  }

  .card__btn {
    width: 100%;
    height: 70px;
    margin-bottom: 20px;
  }

  &__modal {
    background: #6e9c9fb4;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 80%;
    }
  }
}
