.header {
  padding: 20px;

  // .header__container

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .header__logo

  &__logo {
    font-family: Marker, fantasy;
    font-size: 2.5rem;
    transition: color linear 0.36s;

    &:hover {
      color: $accent-interactive;
    }

    @media (max-width: 768px) {
      font-size: 2rem;
    }
  }

  // .header__nav

  &__nav {
    flex: 0 0 20%;
  }

  // .header__total

  &__total {
    font-size: 15px;
  }

  // .header__cart

  &__cart-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
  }

  &__cart {
    position: relative;
    &-count {
      position: absolute;
      width: 25px;
      height: 25px;
      border-radius: 100%;
      left: -20px;
      top: -10px;
      background-color: $accent;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $light;
      font-weight: 600;
    }
    a {
      display: block;
      height: 24px;
      width: 24px;
      background: url(./assets/images/icons/cart.svg) center/cover no-repeat;
      cursor: pointer;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
    }
  }
}

.nav {

  // .nav__list

  &__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  // .nav__item

  &__item {
    a {
      font-size: 15px;
      line-height: 1.4;
      text-transform: capitalize;
      transition: color linear 0.36s;

      &:hover {
        color: $accent-interactive;
      }
    }
  }
}
