.home {

  &__content {
    padding: 20px 5px;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.2fr;
    grid-template-rows: minmax(200px, max-content) minmax(100px, max-content) auto;
    grid-gap: 20px;
  }

  &__image {

    &-left {
      grid-column: 1/2;
      grid-row: 1/2;
      background: url(./assets/images/home-1.jpg) center/cover no-repeat;
      filter: drop-shadow(10px 10px 0 $accent-interactive);
    }

    &-right {
      grid-column: 3/4;
      grid-row: 1/3;
      background: url(./assets/images/home-2.jpg) center/cover no-repeat;
      filter: drop-shadow(-10px -10px 0 $accent-extra);
    }
  }

  &__greeting {
    grid-column: 1/3;
    grid-row: 2/3;
    font-size: 3.5rem;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    margin-right: 80px;

    div {
      font-family: Marker, fantasy;
      font-size: 3.3rem;
      color: $accent;
      align-self: end;
    }
  }

  &__text {
    grid-column: 1/2;
    grid-row: 3/4;
    max-width: 280px;
    line-height: 1.6;
    font-size: 1.2rem;
    white-space: break-spaces;
  }

  &__btn {
    grid-column: 1/4;
    grid-row: 4/5;
    justify-self: center;
    width: 193px;
    height: 193px;
    border-radius: 50%;
    background: $accent-interactive;
    cursor: pointer;
    transition: all linear 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: $accent;
      box-shadow: 0 0 6px rgba($dark, 0.5);
    }

    a {
      color: $light;
      position: relative;
      margin-left: -60px;
      margin-top: -20px;

      &::after {
        position: absolute;
        content: '';
        width: 79px;
        height: 10px;
        background: url(./assets/images/icons/thin-arrow.svg) center/contain no-repeat;
        top: 30px;
        left: 40px;
      }
    }
  }
}
