.error {
  background: $light;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 25;

  &__wrapper {
    background:
      url(./assets/images/404/404-2.svg) 90% 25%/auto no-repeat,
      url(./assets/images/404/404-3.svg) 0% 0%/auto no-repeat,
      url(./assets/images/404/404-4.svg) 15% 60%/auto no-repeat,
      url(./assets/images/404/404-5.svg) 60% 22%/auto no-repeat,
      url(./assets/images/404/404-6.svg) 80% 75%/auto no-repeat;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 22;
    display: flex;
  }


  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: stretch;
  }

  &__title {
    font-size: 12rem;
    font-style: 500px;
    text-align: center;
    margin-bottom: 40px;
    color: $accent;
    @media (max-width: $s) {
      font-size: 10rem;
      margin-bottom: 20px;
    }
  }

  &__text {
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
    @media (max-width: $s) {
      font-size: 2rem;
      margin-bottom: 15px;
    }
  }

  &__subtext {
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
  }

}