// colors
$dark: #000000;
$light: #ffffff;
$medium: #F1EADC;
$accent: #509498;
$accent-extra: #998E78; //цена в карточке товара
$accent-interactive: #6E9C9F;
$current-point: #909090; //текущая "хлебная крошка"
$placeholders: #868686;
